@charset "UTF-8";
/* Variables pour l'animation de transition des cartes sur les pages menus */
/* Variables pour l'animation du loading spinner */
/* Variables couleurs */
/* Variable box shadow */
/* Map responsive design */
/* Mixin effet des boutons principaux */
/* Mixin flex-center */
/* Mixin responsive */
/* Sélection des polices de caractères */
/* titles : Shrikhand */
@font-face {
  font-family: "Shrikhand";
  src: url("/police/Shrikhand/Shrikhand-Regular.otf");
}
/* txt : Roboto */
@font-face {
  font-family: "Roboto";
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
}
/* Paramètres généraux du site web Ohmyfood */
h1 {
  font-size: 21px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1046px) {
  h1 {
    justify-content: flex-start;
    padding-left: 45px;
  }
}

h2 {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 24px;
  font-family: "Shrikhand", sans-serif;
}

h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 17px;
  position: relative;
}
h4::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  height: 3px;
  width: 45px;
  background-color: #99E2D0;
}

h5 {
  font-size: 17px;
  margin: 0;
  margin-left: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Design bouton dégradé */
button {
  color: white;
  font-weight: bolder;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: transparent;
  padding: 15px 20px;
  box-shadow: 5px 5px 10px rgb(231, 229, 229);
  cursor: pointer;
}
button:hover {
  box-shadow: 5px 5px 10px #9e9595;
  opacity: 0.8;
}

.button {
  display: flex;
  justify-content: center;
}
.button__title {
  width: 48%;
}
@media screen and (min-width: 768px) {
  .button__title {
    width: 30%;
  }
}
@media screen and (min-width: 1046px) {
  .button__title {
    margin-top: 20px;
    width: 20%;
  }
}

/* Mise en place de l'animation du bouton "j'aime" en forme de coeur */
@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heart {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.heart .far {
  position: absolute;
  font-weight: 100;
}
.heart .far:hover {
  opacity: 0;
}
.heart .fas {
  position: absolute;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
.heart .fas:hover {
  opacity: 1;
  animation: heart 1000ms;
}

/* Mise en place loading spinner */
.spinner {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(-50%, -50%);
  border: 16px solid #0042A4;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #FF79DA;
  border-bottom: 16px solid #96BFF9;
  border-left: 16px solid #99E2D0;
  width: 200px;
  height: 200px;
  animation: spin 2000ms linear 0ms;
  transform: rotate(0);
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
main {
  animation: main 7000ms;
}

@keyframes main {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/* Paramètres généraux du site web Ohmyfood */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Paramètres des box */
.box {
  display: grid;
  height: auto;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(231, 229, 229);
}

/* Mise en page du header de la page d'accueil */
.header_responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header_responsive {
    flex-direction: row;
    justify-content: space-around;
  }
}

.header__logo {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  width: 45%;
  height: 100%;
}

/* Mise en page du header de la page des pages menu */
.header_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 85%;
}
@media screen and (min-width: 768px) {
  .header_menu {
    width: 80%;
  }
}
@media screen and (min-width: 1046px) {
  .header_menu {
    width: 75%;
  }
}

.header__arrow {
  font-size: 25px;
}
.header__arrow a {
  color: black;
}

.header_responsive {
  display: flex;
  justify-content: space-around;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 20px;
  background-color: rgb(58, 58, 58);
  color: white;
}
@media screen and (min-width: 768px) {
  .footer {
    align-items: center;
  }
}
.footer p {
  font-size: 18px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 8px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer__logo {
  width: 35%;
  filter: invert(100%);
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    max-width: 20%;
    margin-bottom: 35px;
  }
}
.footer__logo img {
  width: 100%;
  height: 100%;
}
.footer ul {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .footer__info p {
    font-size: 14px;
  }
}
.footer__info--layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.footer__info--layout span {
  width: 5%;
}
.footer__info--layout p {
  margin-left: 15px;
}

/* Mise en page de la barre de localisation */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(231, 229, 229);
  width: 100%;
  box-shadow: inset 0em 0.1em 2px rgb(184, 184, 184);
  padding-top: 12px;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .localisation {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 35px;
    width: 30%;
  }
}
.localisation__icone {
  padding-left: 30px;
}
.localisation__recherche {
  text-decoration: none;
  background-color: rgb(231, 229, 229);
  border: rgb(231, 229, 229);
  padding-left: 15px;
}

::placeholder {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

/* Mise en page de la courte présentation de l'entreprise */
.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #fcf9f9;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .presentation {
    box-shadow: inset 0em 0.1em 2px rgb(184, 184, 184);
    background-color: rgb(231, 229, 229);
  }
}
.presentation p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 25px;
}

/* Mise en page de la partie Fonctionnement */
.fonctionnement {
  padding: 30px 20px;
}
.fonctionnement_orga {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1046px) {
  .fonctionnement_orga {
    flex-direction: row;
  }
}
.fonctionnement__box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #fcf9f9;
  padding: 5px 0px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__box {
    width: 55%;
  }
}
@media screen and (min-width: 1046px) {
  .fonctionnement__box {
    width: 25%;
  }
}
.fonctionnement__box:hover {
  background: #e7d2ff;
}
.fonctionnement__box:hover .fonctionnement__icone {
  color: #9356DC;
}
.fonctionnement__number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  width: 23px;
  height: 23px;
  min-width: 0px;
  min-height: 0px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  background-color: #9356DC;
}
.fonctionnement__icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 20px;
  color: grey;
}
.fonctionnement__text {
  font-size: 15px;
  font-weight: bolder;
  color: black;
}
.fonctionnement a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  flex-wrap: nowrap;
  width: 100%;
}

/* Mise en page des 4 menus sous forme de cartes */
.restaurants {
  padding: 30px 20px;
  background-color: #fcf9f9;
}
.restaurants_orga {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.restaurants_orga ul {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .restaurants_orga ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .restaurants_orga li {
    width: 45%;
  }
}
@media screen and (min-width: 1046px) {
  .restaurants_orga li {
    width: 34%;
  }
}
.restaurants_orga a {
  color: black;
}
.restaurants__card {
  width: 100%;
  height: auto;
  text-decoration: none;
  cursor: pointer;
}
.restaurants__image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.restaurants__image--layout {
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.restaurants__nouveau {
  position: absolute;
  width: fit-content;
  margin: 0.7rem;
  background-color: #99E2D0;
  color: green;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 3px;
}
.restaurants__texte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}
.restaurants__texte h2 {
  margin-top: 0;
  margin-bottom: 0px;
  color: black;
}
.restaurants__texte p {
  margin-top: 0;
  color: black;
}

/* Mise en page des menus */
.cover-image img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.menu {
  border-radius: 35px 35px 0px 0px;
  margin-top: -32px;
  display: inline-block;
  background-color: #fcf9f9;
  padding: 10px 20px;
  padding-bottom: 50px;
}
@media screen and (min-width: 449px) {
  .menu {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    border-radius: 0;
  }
}

.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .menu__title {
    justify-content: space-between;
  }
}

.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .card {
    width: 32%;
  }
}
.card__description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .card__description {
    justify-content: center;
  }
}
.card__description p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px;
}
.card__price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 600;
  padding: 13px;
}
.card__check {
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  width: 0%;
  transition: width 750ms;
}
.card__check span {
  display: grid;
  place-items: center;
  background-color: white;
  color: #99E2D0;
  height: 26px;
  width: 26px;
  border-radius: 25px;
}
.card:hover .card__check {
  width: 15%;
}
.card:hover .card__check span {
  animation: rotate 750ms;
}
.card:hover .card__description {
  white-space: nowrap;
  width: 60%;
}
.card:hover h5 {
  white-space: nowrap;
}

/* Animation de la coche qui tourne */
@keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* Mise en place de l'animation de transition des cartes */
@keyframes entrees {
  0% {
    transform: translateY(-100px) translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.entrees__animation {
  animation: entrees 1800ms 0ms;
}
@media screen and (min-width: 768px) {
  .entrees__animation {
    display: flex;
    justify-content: space-between;
  }
}

@keyframes plats {
  0% {
    transform: translateY(-100px) translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.plats__animation {
  animation: plats 1800ms 0ms;
}
@media screen and (min-width: 768px) {
  .plats__animation {
    display: flex;
    justify-content: space-between;
  }
}

@keyframes desserts {
  0% {
    transform: translateY(-100px) translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.desserts__animation {
  animation: desserts 1800ms 0ms;
}
@media screen and (min-width: 768px) {
  .desserts__animation {
    display: flex;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
