@charset "UTF-8";
/* Paramètres généraux du site web Ohmyfood */
h1 {
  font-size: 21px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Mise en page du header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 40%;
  padding: 12px;
}

.header-logo img {
  width: 100%;
  height: 100%;
}

/* Mise en page du formulaire dans le header */
.formulaire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 229, 229);
  width: 100%;
  box-shadow: inset 0em 0.1em 2px rgb(184, 184, 184);
  padding-top: 12px;
  padding-bottom: 12px;
}
.formulaire-localisation {
  padding-left: 30px;
}
.formulaire-recherche {
  text-decoration: none;
  background-color: rgb(231, 229, 229);
  border: rgb(231, 229, 229);
  padding-left: 15px;
}

::placeholder {
  font-weight: bold;
  color: black;
  font-size: 14px;
  font-family: "Shrikhand", sans-serif;
}

/* Mise en page 3ème partie du header */
.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fcf9f9;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}
.reservation p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 25px;
}

button {
  color: white;
  font-weight: bolder;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: transparent;
  padding: 15px 20px;
  font-family: "Shrikhand", sans-serif;
}

/* Paramètres des box */
.box {
  display: grid;
  align-items: center;
  justify-items: center;
  height: auto;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(231, 229, 229);
}

.fonctionnement {
  padding: 30px 20px;
}
.fonctionnement-orga {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.fonctionnement-box {
  display: flex;
  justify-content: flex-start;
  background-color: #fcf9f9;
  padding: 5px 0px;
}
.fonctionnement-box:hover {
  background: #e7d2ff;
}
.fonctionnement-box:hover .fonctionnement-box-icone {
  color: #9356dc;
}
.fonctionnement-box a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  flex-wrap: nowrap;
  width: 100%;
}
.fonctionnement-box-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  width: 23px;
  height: 23px;
  min-width: 0px;
  min-height: 0px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  background-color: #9356dc;
}
.fonctionnement-box-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 20px;
  color: grey;
}
.fonctionnement-box-txt {
  font-size: 15px;
  font-weight: bolder;
  color: black;
}

.restaurants {
  padding: 30px 20px;
  background-color: #fcf9f9;
  /* Organisation des vignettes */
}
.restaurants-orga {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.restaurants-orga-card a {
  width: 100%;
  height: auto;
  text-decoration: none;
  color: black;
}
.restaurants-orga-card a span {
  position: relative;
  width: fit-content;
  top: 3rem;
  right: 1rem;
  background-color: #99E2D0;
  color: green;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 3px;
}
.restaurants .img-new {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.restaurants ul {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}
.restaurants-orga-card-image {
  z-index: 1;
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  object-position: 50% 130%;
}
.restaurants-orga-card-image1 {
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  object-position: 50% 110%;
}
.restaurants-orga-card-image2 {
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  object-position: 50% 60%;
}
.restaurants-orga-card-texte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}
.restaurants-orga-card-texte h2 {
  margin-top: 0;
  margin-bottom: 5px;
}
.restaurants-orga-card-texte p {
  margin-top: 0;
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  padding-right: 20px;
}
.heart:active > .progress__bar {
  animation: progress-bar 1000ms;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 20px;
  background-color: rgb(58, 58, 58);
  color: white;
}
.footer-logo {
  width: 35%;
  filter: invert(100%);
  margin-bottom: 12px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
}
.footer p {
  font-size: 18px;
  margin-bottom: 0;
}
.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer-info span {
  width: 5%;
}
.footer-info p {
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map */
