@charset "UTF-8";
/* Mise en page du header */
.header-logo {
  width: 40%;
  padding: 12px;
}

.header-logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

/* Mise en page du formulaire dans le header */
.formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgrey;
  padding: 12px;
}

.formulaire-recherche {
  text-decoration: none;
  background-color: lightgrey;
  border: lightgrey;
}

::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
}

:-ms-input-placeholder {
  font-weight: bold;
  color: black;
}

::-ms-input-placeholder {
  font-weight: bold;
  color: black;
}

::placeholder {
  font-weight: bold;
  color: black;
}

/* Mise en page 3ème partie du header */
.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}

button {
  color: white;
  border-radius: 30px;
  background-color: purple;
  border: transparent;
  padding: 20px;
}

/* Paramètres des box */
.box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: auto;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px grey;
          box-shadow: 5px 5px 10px grey;
}

.fonctionnement {
  padding: 30px 20px;
}

.fonctionnement-orga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fonctionnement-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.fonctionnement-box-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  color: white;
  background-color: purple;
}

.fonctionnement-box-icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  font-size: 30px;
  color: grey;
}

.fonctionnement-box-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  font-weight: bold;
  color: black;
}

.restaurants {
  padding: 30px 20px;
  background-color: #f2f2f2;
  /* Organisation des vignettes */
}

.restaurants-orga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants ul {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}

.restaurants-orga-card a {
  width: 100%;
  height: auto;
  text-decoration: none;
  color: black;
}

.restaurants-orga-card span {
  position: relative;
  bottom: 165px;
  left: 260px;
  background-color: lightgreen;
  color: green;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 3px;
}

.restaurants-orga-card-image {
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 130%;
     object-position: 50% 130%;
}

.restaurants-orga-card-image1 {
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 110%;
     object-position: 50% 110%;
}

.restaurants-orga-card-image2 {
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

.restaurants-orga-card-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
}

.restaurants-orga-card-texte h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.restaurants-orga-card-texte p {
  margin-top: 0;
}

.restaurants .heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 20px;
  background-color: darkslategrey;
  color: white;
}

.footer-logo {
  width: 40%;
  font-size: 10px;
  color: white;
}

.footer-logo img {
  width: 100%;
  height: 100%;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info span {
  width: 5%;
}

.footer-info p {
  margin-left: 15px;
}
/*# sourceMappingURL=main.css.map */