/* Mise en place de l'animation du bouton "j'aime" en forme de coeur */

.heart {
    width: 15%;
    @include flex-center;
    font-size: 35px;

    .far {
        position: absolute;
        font-weight: 100;

        @include responsive-desktop {
            .far:hover {
                animation: heart 600ms both;
                animation-direction: reverse;
            }
        }
        
        &:active {
            animation: heart 600ms both;
            animation-direction: reverse;
        }


    }
       
    .fas {
        position: absolute;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        background-image: linear-gradient($color-primary, $color-secondary);    

        &:active {
            opacity: 1;
            transition: opacity 600ms;
        }
        @include responsive-desktop {
            .fas:hover {
                animation: heart 600ms both;
                animation-direction: reverse;
            }
        }
        
    }
}