/* Sélection des polices de caractères */ 

/* titles : Shrikhand */
@font-face { 
    font-family: 'Shrikhand';
    src: url("/police/Shrikhand/Shrikhand-Regular.otf");
}

/* txt : Roboto */
@font-face {
    font-family: 'Roboto';
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
}
