/* Paramètres généraux du site web Ohmyfood */

h1 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}