/* Paramètres généraux du site web Ohmyfood */

h1 {
    font-size: 21px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 24px;
    font-family: 'Shrikhand', sans-serif;
}

h4 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 17px;
    
    & span {
        border-bottom: 3px solid #99E2D0;
        padding-bottom: 5px;
    }
}

.bold {
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}