/* Variables pour l'animation de l'arrivée des cartes sur les pages restaurants */

$prog-card-dur: 1200ms;
$prog-card-delay: 0ms;

/* Variables pour l'animation loading spinner */

$prog-spin-dur: 2000ms;
$prog-spin-delay: 0ms;

/* Variables couleurs */

$color-button: linear-gradient(#FF79DA, #9356DC);

/* Variable box shadow */

$box-shadow-size: 5px 5px 10px rgb(231, 229, 229);