/* Design bouton dégradé */

button {
    color: white;
    font-weight: bolder;
    border-radius: 30px;
    background: $color-button;
    border: transparent;
    padding: 15px 20px;
    font-family: 'Shrikhand', sans-serif;
    box-shadow: $box-shadow-size;
    &:hover{
        @include button-anim;
    }
}

.button {
    display: flex;
    justify-content: center;
    &-com {
        width: 48%;
    }
}
