/* Mise en page du header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.header-logo {
  width: 40%;
  padding: 12px;
}

.header-logo img {
  width: 100%;
  height: 100%;
}