/* Mise en page du formulaire dans le header */

form {}

.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 12px;
}

.formulaire-recherche {

    text-decoration: none;
    background-color: lightgrey;
    border: lightgrey;
}

::placeholder {
    font-weight: bold;
    color: black;
}