/* Mise en page du formulaire dans le header */

.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 12px;
    width: 100%;
    box-shadow: inset 0em .2em 2px grey;

    &-recherche {
        text-decoration: none;
        background-color: lightgrey;
        border: lightgrey;
        padding-left: 15px;
    }
}

::placeholder {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 14px;
    font-family: 'Shrikhand', sans-serif;
}