/* Mise en page du formulaire dans le header */

.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 229, 229);
    width: 100%;
    box-shadow: inset 0em .1em 2px rgb(184, 184, 184);
    padding-top: 12px;
    padding-bottom: 12px;
    
    &-localisation {
        padding-left: 30px;
    }

    &-recherche {
        text-decoration: none;
        background-color: rgb(231, 229, 229);
        border: rgb(231, 229, 229);
        padding-left: 15px;
    }
}

::placeholder {
    font-weight: bold;
    color: black;
    font-size: 14px;
    font-family: 'Shrikhand', sans-serif;
}