/* Mise en page des menus */

.menu {
    border-radius: 35px 35px 0px 0px;
    margin-top: -32px;
    display: inline-block;
    background-color: #fcf9f9;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.menu-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    
    &-description {
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow: hidden;        

        & p {            
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 4px;
        }
    }
    
    &-price {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        font-weight: 600;  
        padding: 13px;
    }

    &-check {
        display: grid;
        place-items: center;
        background-color: #99E2D0;
        margin-right: -65px;
        width: 65px;
        transition: margin-right 500ms;

        & span {
            display: grid;
            place-items: center;
            background-color: white;
            color: #99E2D0;
            height: 26px;
            width: 26px; 
            border-radius: 25px;
        }
    }

    &:hover {

        .card-check {
            margin-right: 0;
            width: 25%;

            & span {
                
                animation: check 500ms ease-in-out;
            }
        }

        .card-description, h5 {
            width: 65%;
            white-space: nowrap;   
            text-overflow: ellipsis;
        }
    }
}


@keyframes entrees-animation {
    0% {
        transform: translateY(-100px) translateX(150px);
    }    
    100% {
        transform: translateY(0);
    }
}

.entrees-animation {
    animation: entrees-animation $prog-card-dur $prog-card-delay;
}

@keyframes plats-animation {
    0% {
        transform: translateY(-100px) translateX(150px);
    }    
    100% {
        transform: translateY(0);
    }
}

.plats-animation {
    animation: plats-animation $prog-card-dur $prog-card-delay;
}

@keyframes desserts-animation {
    0% {
        transform: translateY(-100px) translateX(150px);
    }    
    100% {
        transform: translateY(0);
    }
}

.desserts-animation {
    animation: desserts-animation $prog-card-dur $prog-card-delay;
}


@keyframes check {
    0% {
        transform: rotate(-270deg);
    }    
    100% {
        transform: rotate(0);
    }
}


