/* Mise en page des menus */

.menu {
    border: 2px red solid;
    border-radius: 35px 35px 0px 0px;
    margin-top: -32px;
    
}

.menu-title {
    display: inline-block;
    flex-direction: row;
}



