/* Mise en page des menus */

.menu {
    border-radius: 35px 35px 0px 0px;
    margin-top: -32px;
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.menu-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

$prog-card-dur: 1200ms;
$prog-card-delay: 0ms;

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;

    & p {
        margin: 4px;
    }
    
    &-price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}


@keyframes entrees-animation {
    0% {
        transform: translateY(100px) translateX(100px);
    }    
    /*17% {
        transform: translateY(.5);
    }
    24% {
        transform: translateY(1);
    }
    46% {
        transform: translateY(1.125);
    }*/
    100% {
        transform: translateY(0);
    }
}

.entrees-animation {
    animation: entrees-animation $prog-card-dur $prog-card-delay;
}

@keyframes plats-animation {
    0% {
        transform: translateY(100px) translateX(100px);
    }    
    /*17% {
        transform: translateY(.5);
    }
    24% {
        transform: translateY(1);
    }
    46% {
        transform: translateY(1.125);
    }*/
    100% {
        transform: translateY(0);
    }
}

.plats-animation {
    animation: plats-animation $prog-card-dur $prog-card-delay;
}

@keyframes desserts-animation {
    0% {
        transform: translateY(100px) translateX(00px);
    }    
    /*17% {
        transform: translateY(.5);
    }
    24% {
        transform: translateY(1);
    }
    46% {
        transform: translateY(1.125);
    }*/
    100% {
        transform: translateY(0);
    }
}

.desserts-animation {
    animation: desserts-animation $prog-card-dur $prog-card-delay;
}







