.restaurants {
    padding: 30px 20px;
    background-color: #fcf9f9;

    &-orga {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;        

        &-card {
            width: 100%;
            height: auto;
            text-decoration: none;
            cursor: pointer;

            .new {
                position: absolute;
                width: fit-content;
                margin: .7rem;
                background-color: #99E2D0;
                color: green;
                font-weight: bold;
                padding: 6px 10px;
                border-radius: 3px;
            }
        }
    }

.img-new {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

    /* Organisation des vignettes */

    & ul {
        list-style-type: none;
        width: 100%;
        padding-left: 0;
    }  

    &-orga-card-image {
        height: 180px;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        object-position: 50% 130%;
    }

    &-orga-card-image1 {
        height: 180px;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        object-position: 50% 110%;
    }

    &-orga-card-image2 {
        height: 180px;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        object-position: 50% 60%;
    }

    &-orga-card-texte {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 10px;
    }

    &-orga-card-texte h2 {
        margin-top: 0;
        margin-bottom: 0px;
        color: black;
    }

    &-orga-card-texte p {
        margin-top: 0;
        color: black;
    }
}

@keyframes heart {
    0% {
        opacity: 0;
    }    
    100% {
        opacity: 1;
    }
}

.heart {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

    &-vacuum {
        position: absolute;
        
        &:hover {
            opacity: 0;
        }
    }
       
    &-filled {
        position: absolute;
       
        color: #FF79DA;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
              

        &:hover {
            opacity: 1;
            animation: heart 1000ms;
        }
    }
}

