/* Mise en page 3ème partie du header */

.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fcf9f9;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;

    & p {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 25px;
    }
}